body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.portfolio-body {
  padding: 1em;
}

.portfolio-squares {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.portfolio-square {
  height: 22em;
  width: 17em;
  box-shadow: 1px 1px 1px #eee;
  cursor: pointer;
  margin: 0 1em;
  border: 1px solid #efefef;
  margin-top: 1.5em;
}

.portfolio-square:hover {
  box-shadow: 1px 1px 1px #ccc;
}

.square-text {
  width: 100%;
  height: 30%;
  opacity: 0.8;
  background-color: #EAF1FB;
  padding: 5px 10px;
}

.portfolio-image {
  width: 100%;
  height: 70%;
}

.square-title {
  color: #000;
  font-size: 18px;
  font-family: Palatino, Serif;
  font-weight: bold;
  text-transform: uppercase;
}

.square-description {
  color: #333;
  font-size: 14px;
  font-family: Helvetica, Arial;
}

#nikon-square {
  background: url("../images/nikon_help_guide.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#inputhealth-square {
  background: url("../images/inputhealth_white_paper.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#qrc-square {
  background: url("../images/documentation_qrc.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#other-square {
  background: url("../images/nikon_help_guide.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
